<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MohammadZaidShaikh.chat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.MohammadZaidShaikh.chat.MessageActivity"
            android:parentActivityName="com.MohammadZaidShaikh.chat.UsersActivity"/>
        <activity
            android:name="com.MohammadZaidShaikh.chat.UsersActivity"
            android:parentActivityName="com.MohammadZaidShaikh.chat.MainActivity" />
        <activity
            android:name="com.MohammadZaidShaikh.chat.LoginActivity"
            android:parentActivityName="com.MohammadZaidShaikh.chat.StartActivity" />
        <activity
            android:name="com.MohammadZaidShaikh.chat.MainActivity"
            android:parentActivityName="com.MohammadZaidShaikh.chat.StartActivity" />
        <activity
            android:name="com.MohammadZaidShaikh.chat.RegisterActivity"
            android:parentActivityName="com.MohammadZaidShaikh.chat.StartActivity" />
        <activity android:name="com.MohammadZaidShaikh.chat.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>